.venv/
.vscode/
.claude/
.codex/
.pytest_cache/
__pycache__/
/site/
/dist/
*.egg-info/
/docs/policies/common
docs/pub/reference/generated/

# Ignore test data with secrets
scripts/.linear_env.sh
scripts/.linear_client_oauth*.json
